*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color:#FDEFEF;
}
section{
    float: left;
    width: 100%;
}
.top {
    font-size: large;
    background-color: #000;
    line-height: 0em;
}
.top h1{
    font-weight: bolder;
    inline-height: 1em;
    color: #EEEEEE;
}
.boxoutline{
    border-radius: 0.5em;
    border-color: #000;
    border-style: solid;
    margin-top: 3em;
    
}
.heading, .submission{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.username, .password{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    padding: 0 2em;
}
.form{
    margin-top: 2em;
    margin-bottom: 5em;
}
.form input{
  border-radius: 0.5em;
}