*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #E1E8EB;
}
.paddoff{
    padding: 0;
}
.main-box{
    background-color: #404040;
    height: 100vh;
    color: #fff;
}
.heading{
    height: 12vh;
}
.contain-list{
    padding-left: 5em;
}
.main-heading{
    background-color: #7952B3;
    text-align: center;
    margin: 2em 0;
    padding:4em;
}
.contain-list li{
    list-style: none;
    padding: 1em;
}
.contain-list a{
    color: #fff!important;
    font-weight: 800;
    font-size: large;
}
button{
    margin-top: 10px;
}
