*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.navbar-brand{
    font-weight: 700;
}
section{
    background-image: url(./bgmain.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.main-headbox{
    /* margin-top: 4.5em; */
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-radius: 2em;
    padding: 3em;
    border-color: #FFB830;
    border-style: solid;
    background-color: whitesmoke;
    opacity: 10;

}
.box,.mbox{
    display: flex;
    padding: 0;
    min-height: 100vh!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.component{
    overflow: hidden;
    font-size: 1em;
    padding: 0 3em;
    justify-content: center;
    align-items: center;
}
.university, .class, .teacher{
    font-size: 2em;
    margin: 1em 0;
    padding: 0 1em;
    border-radius: 50%;
    border-width: .1em;
    border-style: solid;
    border-color: black;
}
span{
    font-weight: 500;
    text-align: center;
}
@media screen and (min-width: 980px){
    .component{
        display: flex;
    }
    
}
@media screen and (max-width:575px) {
    .box{
        display: block;
    }
}